@import url('https://fonts.googleapis.com/css?family=Oswald|Open+Sans&display=swap');
.asteriskField {
    display: none;
}

/* Navbar */

.navbar {
    background-color: #fefefe;
    padding: 1.2rem;
}

.nav-link {
    color: black;
    /* text-transform: lowercase; */
    text-decoration-color: blueviolet;
    text-decoration: underline;
}

.navbarlink {
    color: #1c1d24;
    /* text-transform: lowercase; */
}

.navbarlink:hover {
    /* color: #1369D5i; */
    color: #d3d3f2;
}

#navbartoggle {
    color: #1c1d24;
}

/* endofnavbar */

body {
    background-color: #fefefe;
    font-family: 'Oswald', sans-serif;
}

/* cards */

.card-header {
    background-color: #F0F0F0;
    color: #fefefe;
    font-family: 'Oswald', sans-serif;
}

.card-body {
    background-color: #fefefe;
    font-family: 'Oswald', sans-serif;
}

.card {
    border: 20;
    border-color: #E8EBEE;
}

/* endofcards */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
}

/* anchors */

a {
    color: #38364D;
}

a:hover {
    color: gray;
    text-decoration: none;
}

/* endofanchors */

/* materialicons */

.material-edit {
    color: #3b5998;
}

.material-remove {
    color: #fc4821;
}

.material-add {
    color: green;
}

/* endmaterialicons */

/* table */

.tablecenter th {
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.tablecenter-modify {
    text-align: center;
}

/* buttons */

.btn-outline-primary {
    color: #38364D;
    border-color: #38364D;
    border-radius: .15rem;
}

.btn-outline-primary:hover {
    color: white;
    border-color: #38364D;
    background-color: #38364D;
}

.btn-primary {
    border-radius: .15rem;
}

.btn-secondary {
    color: white;
    border-color: #38364D;
    background-color: #38364D;
    border-radius: .15rem;
}

.btn-secondary:hover {
    color: white;
    border-color: rgb(45, 44, 54);
    background-color: rgb(45, 44, 54);
}

/* endofbuttons */

#password-reset {
    padding-top: 100px;
}

#position-fixed {
    color: #3b5998;
}

.icon-text {
    padding: 0px 25px 25px 0px;
}

h4.txt-tl {
    font-size: 24px;
    line-height: 1.35;
}

.txt-para {
    color: #38364D;
}