[Unit]
Description=Savite service
After=network.target

[Service]
User=savite
WorkingDirectory=/home/savite/web_app
ExecStart=/home/savite/env/senv/bin/gunicorn -b localhost:8000 -w 4 web_app:wsgi
Restart=always

[Install]
WantedBy=multi-user.target