<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="my-lg-5 my-md-0">
                <h1 class="text-center">
                    Save your favorite <span>Websites</span>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div><i class="material-icons">face</i>
                        Save your favorite <span>Websites</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div><i class="material-icons">face</i>
                        Save your favorite <span>Websites</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="\static\images\selecting.svg" class="img-fluid" alt="">
        </div>
    </div>
</div>