<br>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h3 class="text-center">Savite was designed to help you</h3>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-4 icon-text">
                        <h4 class="txt-tl">Save websites</h4>
                        <p class="txt-para">Add a URL to your favorite. </p>
                    </div>
                    <div class="col-xs-4 icon-text">
                        <h4 class="txt-tl">Screen shot</h4>
                        <p class="txt-para">Savite will automatically save a screen shot. Helping
                            you visualize remember why certain website was important.
                        </p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-xs-2">
                    </div>
                    <div class="col-xs-4 icon-text">
                        <h4 class="txt-tl">Categorize</h4>
                        <p class="txt-para">Pick a category for your website. </p>
                    </div>
                    <div class="col-xs-4 icon-text">
                        <h4 class="txt-tl">Deadline</h4>
                        <p class="txt-para">Pick a deadline to read. Savite will not show you webistes after the
                            deadline. Savite will keep it in case you change your mind later on.</p>
                    </div>
                    <div class="col-xs-2">
                    </div>
                </div>
            </div>

        </div>
        <div class="col-md-6">
            <img src="\static\images\selecting.svg" class="img-fluid" alt="Select your favorite webistes.">
        </div>
    </div>
</div>