{% extends "main.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="my-lg-5 my-md-0">
                <h1 class="text-center">
                    Save your favorite <span>Websites</span>
                </h1>
            </div>
            <div class="row">
                <div class="col-md-6"><i class="material-icons material-check-circle">check_circle</i>
                    <h1 class="text-center">
                        Save your favorite <span>Websites</span>
                    </h1>
                </div>

                <div class="col-md-6"><i class="material-icons material-check-circle">check_circle</i>
                    <h1 class="text-center">
                        Save your favorite <span>Websites</span>
                    </h1>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <img src="\static\images\selecting.svg" class="img-fluid" alt="">
        </div>
    </div>
</div>
{% endblock content%}