{% extends "main.html" %}
{% block content %}
<div class="jumbotron jumbotron-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="my-lg-5 my-md-0">
                        <h1 class="text-break" id="brandtext">
                            Pick your favourite <span id="brandtextspan">Websites</span>
                        </h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <img src="\static\images\selecting.svg" class="img-fluid" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock content%}