{% extends 'main.html' %} {% block content %}

<div class="container">
  <br />
  <a href="{% url 'core:site_create' %}" class="btn btn-success" role="button" aria-pressed="true">Add Favorites</a>
  <br />
  <br />
  {% include "messages.html" %}
  <table class="tablecenter table table-striped table-bordered">
    <thead>
      <tr>
        <th>URL</th>
        <th>Category</th>
        <th>Expires On</th>
        <th>Expired</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      {% for site in sites %}
      <tr>
        <td><a href={{ site.url }}>{{ site.url|truncatechars:30 }}</a></td>
        <td class=" tablecenter-modify">{{ site.category }}</td>
        <td class="tablecenter-modify">{{ site.deadline|date:"M/d/Y" }}</td>
        {% if site.expired is True %}
        <td class="tablecenter-modify">Yes</td>
        {% else %}
        <td class="tablecenter-modify">No</td>
        {% endif %}
        <td class="tablecenter-modify">
          <a href="{% url 'core:site_edit' site.id %}"><i class="material-icons material-edit">edit</i></a>
          <a href="{% url 'core:site_delete' site.id %}"><i class="material-icons material-remove">delete</i></a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}