{% extends 'main.html' %} {% block content %}
<br />
{% if sites %}
<div class="container">
  <div class="row">
    <div class="col-md-8 order-1">
      <div class="row">
        {% for site in sites %}
        <div class="col-md-6">
          <div class="card mb-3">
            <div class="card-header card-custom text-center">
              <a href={{ site.url }}>{{ site.url|truncatechars:45 }}</a>
            </div>
            <div class="card-body">
              <img src="{{ MEDIA_URL }}{{ site.image_path_modified }}" class="card-img-top img-fluid" width="400"
                height="400" />
            </div>
            <div class="card-footer">
              <div class="col-9">
                <div class="row">
                  <h5 class="text-muted"><strong class="text-black">Deadline:
                    </strong>{{ site.deadline }}</h5 >
                </div>
                <div class="row">
                  <small class="text-muted text-center"><strong class="text-black">Category:
                    </strong>{{ site.category }}</small>
                </div>
              </div>
              <div class="col-3 my">
                <a href="{% url 'core:site_edit' site.id %}"><i class="material-icons material-edit">edit</i></a>
                <a href="{% url 'core:site_delete' site.id %}"><i class="material-icons material-remove"
                    onclick="return confirm('Are you sure you want to delete this item?');">delete</i></a>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4 order-0">
      <h4 class="d-flex justify-content-between align-items-center mb-3">
        <span class="text-muted">Overview</span>
        <span id="overview-total" class="badge badge-secondary badge-pill">{{ total_overview }}</span>
      </h4>
      <ul class="list-group mb-3">
        {% if total_categories %}
        {% for key, value in total_categories.items %}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <a href="{% url 'core:site_filter_category' key %}">{{ key }}</a>
          </div>
          <span class="text-muted">{{ value }}</span>
        </li>
        {% endfor %}
        {% endif %}
        {% if total_expired > 0%}
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <a href="{% url 'core:site_filter_expired' %}">Expired</a>
          </div>
          <span class="text-muted">{{ total_expired }}</span>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</div>

{% else %}

<div class="container">
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="text-center">
        <a href="{% url 'core:site_create' %}" class="btn btn-success" role="button" aria-pressed="true">Add
          Favorites</a>
      </div>
      <br />
      <div class="text-center">
        <h4>No favorite webites save yet.</h4>
        <h4>Let's change that!</h4>
      </div>
    </div>
  </div>
  <br />
  <div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <img src="\static\images\selecting.svg" class="img-fluid" alt="" />
    </div>
    <div class="col-md-3"></div>
  </div>

</div>

{% endif %} {% endblock %}