{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container my-4">
  <div class="row">
    <div class="col-md-2">
    </div>
    <div class="col-md-8">
      {% if validlink %}
      <div class="my-5 py-md-3 py-sm-0">
        <p class="display-4">Reset password</p>
        <form method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-primary btn-block">Change password</button>
        </form>
      </div>
    </div>


    {% else %}
    <div class="card-body">
      <h4 class="card-title">Invalid link</h4>
      <p class="card-text">The link you are trying to use has either been used or expired.</p>
      <p class="card-text">
        Request a new <a href="{% url 'password_reset' %}">password reset</a> link.
      </p>
    </div>
    {% endif %}
  </div>
  <div class="col-lg-2">
  </div>
</div>
</div>

{% endblock content %}