{% extends "base.html" %} {% block content %}
<div class="row justify-content-center">
  <div class="card-body border-sucess my-2">
    <h4 class="card-title text-center">Password reset link was sent</h4>
    <div class="card-text text-center">
      <p>
        Please click on the link we just sent to your email address to confirm
        the password reset.
      </p>
      <p class="card-text">
        If you did not receive our email, you can
        <a class="btn btn-link" href="{% url 'users:password_reset' %}"
          >request a new link</a
        >.
      </p>
    </div>
    <div class="card-text text-center">
      <a href="{% url 'users:login' %}" class="btn btn-link"
        >Return to log in page</a
      >
    </div>
  </div>
</div>

{% endblock content %}
