{% extends 'main.html' %}

{% block title %} Savite | Change your password {% endblock title %}

{% load crispy_forms_tags %}


{% block content %}
<div class="container my-4">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p class="display-4">Change password</p>
            <form method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary">Change password</button>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>

</div>

{% endblock %}