@import url('https://fonts.googleapis.com/css?family=Oswald|Open+Sans&display=swap');
.asteriskField {
    display: none;
}

/* Navbar */

.navbar {
    background-color: #ffffff;
    padding: 1.2rem;
}

.nav-link {
    color: black;
    text-transform: lowercase;
    text-decoration-color: blueviolet;
    text-decoration: underline;
}

.navbarlink {
    color: #1c1d24;
    text-transform: lowercase;
}

.navbarlink:hover {
    color: #1369D5;
}

#navbartoggle {
    color: #1c1d24;
}

/* endofnavbar */

body {
    background-color: #fefefe;
    font-family: 'Oswald', sans-serif;
}

/* cards */

.card-header {
    background-color: #F0F0F0;
    color: #fefefe;
    font-family: 'Oswald', sans-serif;
}

.card-body {
    background-color: #fefefe;
    font-family: 'Open Sans', sans-serif;
}

.list-group-item {
    background-color: #fefefe;
    border: 2;
    border-color: #E8EBEE;
}

.card {
    border: 2;
    border-color: #E8EBEE;
}

/* endofcards */

/* anchors */

a {
    color: black;
}

a:hover {
    color: gray;
    text-decoration: none;
}

/* endofanchors */

/* materialicons */

.material-edit {
    color: #3b5998;
}

.material-remove {
    color: #fc4821;
}

.material-add {
    color: green;
}

/* endmaterialicons */

/* table */

.tablecenter th {
    text-align: center;
}

.tablecenter-modify {
    text-align: center;
}